.border {
  margin: 16px;
  display: flex;
  flex-direction: column;
  color: white;
  border: black;
  border-style: groove;
  border-radius: 10px;
  background-color: rgb(62, 61, 61);
}
.border img {
  object-fit: cover;
  width: 80%;
  height: 250px;
  border-radius: 10px;
}
.overall {
  display: flex;
}
.none {
  display: none;
}
#basket {
  position: fixed;
  right: 0;
  width: 30%;
  text-align: center;
  background-color: rgb(146, 146, 140);
  height: 80%;
  border-radius: 10px;
}
.openclose {
  background-color: aliceblue;
  width: 10px;
  height: 5px;
}
#openmenu {
  display: none;
}
.gap {
  gap: 2px;
}
.basket_font {
  display: flex;
  flex-direction: column;
  text-align: start;
}
