.border {
  margin-right: 40%;
  margin-left: 16px;
  margin-bottom: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  color: white;
  border: black;
  border-style: groove;
  border-radius: 10px;
  background-color: rgb(62, 61, 61);
  overflow-y: auto;
}
.grey {
  color: white;
  padding: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgb(62, 61, 61);
}

.border_basket {
  margin: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  color: white;
  border: black;
  border-style: groove;
  border-radius: 10px;
  background-color: rgb(62, 61, 61);
  overflow-y: auto;
}

.star {
  width: 100px;
  height: 40px;
  object-fit: cover;
}

.basket_img {
  width: 40px;
  height: auto;
  object-fit: cover;
}

.menubutton {
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.border img {
  object-fit: cover;
  width: 80%;
  height: 250px;
  border-radius: 10px;
}

.overall {
  display: flex;
  flex-direction: column;
  max-width: 1440px;
}

.none {
  display: none;
}

.overbasket {
  position: fixed;
  right: 0;
  top: 200px;
  width: 40%;
  text-align: center;
  background-color: rgb(146, 146, 140);
  height: 80%;
  border-radius: 10px;
}

#basket {
  position: fixed;
  right: 0;
  top: 100px;
  bottom: 200px;
  width: 30%;
  text-align: center;
  background-color: rgb(146, 146, 140);
  height: 80%;
  border-radius: 10px;
  overflow-y: auto;
}

#basket_mini {
  position: fixed;
  bottom: 0px;
  right: 50%;
  background-color: rgb(62, 61, 61);
  border-radius: 40px;
  display: none;
  height: 36px;
}

#basket_mini:hover {
  background-color: orange;
}

#basket_mini img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#basket_count {
  position: absolute;
  top: -6px;
  right: -6px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: rgb(251, 116, 5);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-weight: bold;
}

.openclose {
  background-color: aliceblue;
  width: 10px;
  height: 5px;
}

#openmenu {
  display: none;
}
.gap {
  gap: 2px;
}

.basket_font {
  display: flex;
  flex-direction: column;
  text-align: start;
}

#overlay {
  position: fixed;
  text-align: center;
  vertical-align: middle;
  gap: 20px;
  top: 0px;
  bottom: 0;
  height: 100vh;
  width: 100%;
  color: white;
  background-color: rgba(34, 34, 71, 0.2);
  z-index: 99;
}

#overlay img {
  width: 500px;
  border-radius: 30%;
}

@media (max-width: 720px) {
  .star {
    width: 80px;
    height: 25px;
  }
  .basket_img {
    width: 30px;
  }
  #basket {
    width: 100%;
  }
  #basket_mini {
    display: block;
  }
  #basket_resp {
    display: block;
  }
  .border {
    margin: 16px;
  }
}
