.border {
  margin: 16px;
  display: flex;
  flex-direction: column;
  color: white;
  border: black;
  border-style: groove;
  border-radius: 10px;
  background-color: rgb(62, 61, 61);
}
.border img {
  object-fit: cover;
  width: 80%;
  height: 250px;
  border-radius: 10px;
}
.overall {
  display: flex;
  flex-direction: column;
  max-width: 1440px;
}
.none {
  display: none;
}
.overbasket {
  position: fixed;
  right: 0;
  top: 200px;
  width: 40%;
  text-align: center;
  background-color: rgb(146, 146, 140);
  height: 80%;
  border-radius: 10px;
}

#basket {
  position: fixed;
  right: 0;
  top: 200px;
  width: 30%;
  text-align: center;
  background-color: rgb(146, 146, 140);
  height: 80%;
  border-radius: 10px;
}
.openclose {
  background-color: aliceblue;
  width: 10px;
  height: 5px;
}
#openmenu {
  display: none;
}
.gap {
  gap: 2px;
}
.basket_font {
  display: flex;
  flex-direction: column;
  text-align: start;
}
#overlay {
  position: fixed;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  top: 0px;
  bottom: 0;
  height: 100vh;
  width: 100%;
  color: white;
  background-color: rgba(34, 34, 71, 0.2);
  z-index: 99;
}
#overlay img {
  width: 500px;
  border-radius: 30%;
}
